<header>
    <!-- 1) Telefono y Mail (Iconos y Textos) | Login (icono y evento) y Carrito de Compras (Icono y evento) (2 columnas)-->

    <nav class="col-sm-6 col-md-4 col-lg-4">
        <a href="/users/register">Registrate</a>
        <a href="/users/login">Iniciá sesión</a>
        <a href="/products">Mis productos</a>
    </nav>
    
    
    <!-- 2) Logo | Buscador (Icono y evento)-->
    <div class="row" id="rowTwo">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <a href="/">
               <img class="d-block w-100" src="/images/Anotacion2.png" alt="Logo Repologic">
            </a>
        </div>

        <div class="col-sm-6 col-md-8 col-lg-8">


            <form class="nav-search" action=" " method="GET" role="search">
                <input type="text" 
                class="nav-search-input" 
                aria-label="Ingresá lo que buscás" 
                name="as_word" 
                placeholder="Buscar productos y más…" 
                maxlength="120" 
                autofocus="" 
                autocapitalize="off" 
                autocorrect="off" 
                spellcheck="false" 
                autocomplete="off" 
                >

                <button type="submit" class="nav-search-btn">
                    <div role="img" aria-label="Buscar" class="nav-icon-search">
                        <i class="fas fa-search"></i>
                    </div>
                </button>
            </form>



        </div>
    </div>	


</header>