/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


* {

    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://thumbs.dreamstime.com/z/concepto-de-reciclaje-de-la-ecolog%C3%ADa-y-de-construcci%C3%B3n-del-eco-con-la-planta-en-pote-89983832.jpg) ;

}

ul,ol {
    margin: 0;
    padding : 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;

}


.main-header {
    background-color: #eac926;
    padding: 10px 0;
}