/* Fonts */


@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');


.bg-light {
    background-color: #9593d9 !important;
}

.bg-dark {
    background-color: #343084!important;
}
body{
    background-color:  #343084!important;
}

.container-text-center{
background-color: black!important;

}

/* Productos */

* {
    box-sizing: border-box; 
  }
  
  
  .float-fix {
    overflow: hidden; 
  }
  
  
  
  .main-content {
    margin-top: 30px;
    background-color: #343084!important;
  }
  
  .main-left-content {
    background-color: #ffffff;
  }
  
  .main-left-content {
    width: 800px;
    float: left;
    background-color: #343084!important;
  }
  
  
  .product-box {
    float: left;
    width: 380px;
    margin: 10px;
  }
  
  .product-box img {
    width: 100%;
  }
  
  .product-box a { 
    background-color: tomato;
    color: #ffffff;
    padding: 10px;
  }

  h2, b{
      color:  #ffffff;
  }

.redes {
    width: 33%;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; }
.redes h6 {
      font-size: 18px;
      font-weight: 300; }
 .redes .btns_redes {
      margin: 0 auto;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
 .redes .btns_redes .btn_insta img {
        height: 65px;
        width: 65px; }
.redes .btns_redes .btn_insta:hover {
        transform: scale(1.2, 1.2);
        transition: 1s; }
 .redes .btns_redes .btn_face img {
        height: 62px;
        width: 62px; }
 .redes .btns_redes .btn_face:hover {
        transform: scale(1.2, 1.2);
        transition: 1s; }
 .redes .btns_redes .btn_linkedin img {
        height: 65px;
        width: 65px; }
 .redes .btns_redes .btn_linkedin:hover {
        transform: scale(1.2, 1.2);
        transition: 1s; }
