
<%- include('partials/head'); %>

	<!-- Contact-Form -->
    <form method="POST" action="/contact">

        <div class="col-lg-12">
            <label><b>Nombre</b></label>
            <input type="text" class="form-control" name="name">
          </div>

        <div class="col-lg-12">
          <label><b>E-mail</b></label>
          <input type="email" class="form-control" name="email" placeholder="nombre@example.com">
        </div>


        <div class="col-lg-12">
          <label><b>Motivo</b></label>
          <textarea class="form-control" name="msg"></textarea>
        </div>
        <br>
        <br>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
	<!-- //Contact-Form -->

<%- include('partials/footer'); %>
