
	
		</div> <!-- Cierra div class="main-container'"-->

	</div>	<!-- Cierra div class="container'"-->

		<footer>

			<div class="main-content">
				<div class="left box">
					<h2>Apocalypse Gaming</h2>
					<div class="content">
						<p>Plug&Play</p>
						<div class="social">
							<a href="#"><span class="fab fa-facebook-f"></span></a>
							<a href="#"><span class="fab fa-twitter"></span></a>
							<a href="#"><span class="fab fa-instagram"></span></a>
						</div>
					</div>
				</div>

				<div class="center box">
					<h2>Av. Meeks 80</h2>
					<div class="content">
						<div class="place">
							<span class="fas fa-map-marker-alt"></span>
							<span class="text">Lomas de Zamora, Provincia de Buenos Aires</span>
						</div>
						<div class="phone">
							<span class="fas fa-phone-alt"></span>
							<span class="text">+54-9-11 4245-3138</span>
						</div>
						<div class="email">
							<span class="fas fa-envelope"></span>
							<span class="text">apocalypse@gaming.com</span>
						</div>					
					</div>

				</div>

				<div class="right box">
					<h2>-</h2>
					<div class="content">
						<img src="/images/dataFiscal.PNG" width="100" height="100" class="d-inline-block align-top" alt="Apocalypse Gaming">
					</div>
				</div>


			</div>
			<div class="bottom">
					<span class="credit">Copyright © 2020 Apocalypse Gaming</span>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<script src="/js/loginValidator.js"></script>
		<script src="/js/registerValidator.js"></script>
		<script src="/js/editValidator.js"></script>


</body>

</html>
