<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
		<img src="/images/logo-ag.png" width="300" height="180" class="d-inline-block align-top" alt="">
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myOwnNav" aria-controls="myOwnNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="myOwnNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropNavBar" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Administración
				</a>
				<div class="dropdown-menu" aria-labelledby="dropNavBar">
					<a class="dropdown-item" href="/users">Usuarios</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/products">Listado de Productos</a>
					<a class="dropdown-item" href="/products/create">Crear producto</a>					
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto align-items-center">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					<img src="/images/avatars/<%= userLogged.avatar %>" width="30";>
					Usuario Administrador <%= userLogged.full_name %>
				</a>
				<div class="dropdown-menu" aria-labelledby="dropUser" style="left: auto; right: 0;">
					<a class="dropdown-item" href="/users/profile">Mi perfil</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
				</div>
			</li>
		</ul>
	</div>
</nav>